/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Win95FA', 'Raleway', sans-serif;
  user-select: none;
  background-color: #000000;
}

body {
  overflow: hidden;
}

button {
  all: unset;
  cursor: pointer;
}

a {
  color: rgb(0, 0, 255);
}

a:visited {
  color: rgb(128, 0, 128);
}

a:hover {
  text-decoration: underline;
}
